<a href="https://colab.research.google.com/github/sadathrta/ICT_DSA_2023/blob/main/Exit_Test_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/content/sample_data/train.csv')

## Exploratory Data Analysis (EDA)

In [4]:
# to view about data
df.head()

,player_id,name,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,...,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,PLID_4964,Keva Horan,23,M,Ukraine,6'2,176lbs,77.0,58.0,47.0,...,Right,7.7,NaN,8.1,2.0,High,Talent Hunt,8.0,0.0,1
1,PLID_11234,Herma Tann,18,M,Russia,5'10,148lbs,54.0,69.0,70.0,...,Any,5.3,0.0,NaN,3.0,Medium,Source,3.0,0.0,0
2,PLID_19127,Eilene Kizer,16,F,Spain,6'2,172lbs,34.0,43.0,45.0,...,Left,4.7,0.0,6.6,5.0,Low,Academy,2.0,0.0,1
3,PLID_17467,Andrea Badgett,27,M,Chile,5'11,165lbs,79.0,73.0,76.0,...,Right,8.6,113.0,8.6,6.0,Medium,Academy,13.0,16.0,1
4,PLID_9661,Jeremiah Bumbalough,19,F,Argentina,5'8,158lbs,47.0,61.0,74.0,...,Right,NaN,0.0,5.7,5.0,Medium,Academy,4.0,0.0,0

In [ ]:
df.columns

Index(['player_id', 'name', 'age', 'gender', 'country', 'height', 'weight',
       'ball_controlling_skills', 'body_reflexes', 'body_balance',
       'jumping_skills', 'penalties_conversion_rate', 'mental_strength',
       'goalkeeping_skills', 'defending_skills', 'passing_skills',
       'dribbling_skills', 'shot_accuracy', 'body_strength_stamina',
       'max_running_speed', 'strong_foot', 'behaviour_rating',
       'matches_played', 'fitness_rating', 'trophies_won', 'dedication_level',
       'coaching', 'years_of_experience', 'no_of_disqualifications',
       'selection'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13994 entries, 0 to 13993
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   player_id                  13994 non-null  object
 1   name                       13994 non-null  object
 2   age                        13994 non-null  int64
 3   gender                     13975 non-null  object
 4   country                    13994 non-null  object
 5   height                     13994 non-null  object
 6   weight                     13577 non-null  object
 7   ball_controlling_skills    13581 non-null  float64
 8   body_reflexes              13994 non-null  float64
 9   body_balance               13994 non-null  float64
 10  jumping_skills             13970 non-null  float64
 11  penalties_conversion_rate  13964 non-null  float64
 12  mental_strength            13966 non-null  float64
 13  goalkeeping_skills         13994 non-null  float64
 14  defending_skills           13994 non-null  float64
 15  passing_skills             13994 non-null  float64
 16  dribbling_skills           13994 non-null  float64
 17  shot_accuracy              13422 non-null  float64
 18  body_strength_stamina      13994 non-null  float64
 19  max_running_speed          13994 non-null  float64
 20  strong_foot                13442 non-null  object
 21  behaviour_rating           13291 non-null  float64
 22  matches_played             13328 non-null  float64
 23  fitness_rating             13299 non-null  float64
 24  trophies_won               13994 non-null  float64
 25  dedication_level           13994 non-null  object
 26  coaching                   13869 non-null  object
 27  years_of_experience        13850 non-null  float64
 28  no_of_disqualifications    13994 non-null  float64
 29  selection                  13994 non-null  int64
dtypes: float64(19), int64(2), object(9)
memory usage: 3.2+ MB

In [ ]:
df.describe()

,age,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,...,shot_accuracy,body_strength_stamina,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,selection
count,13994.000000,13581.000000,13994.000000,13994.000000,13970.000000,13964.000000,13966.000000,13994.000000,13994.000000,13994.000000,...,13422.000000,13994.000000,13994.000000,13291.000000,13328.000000,13299.000000,13994.000000,13850.000000,13994.000000,13994.000000
mean,21.135844,56.043958,61.934329,62.753323,63.612026,48.495703,56.768366,16.474632,48.108118,52.935973,...,47.178140,62.652780,23.586094,5.822068,3.908463,6.405482,3.389095,6.434152,-4.740675,0.557525
std,5.162719,16.787353,14.931963,14.203638,11.938712,15.767506,11.977744,16.874551,16.821929,14.201782,...,15.803991,11.512526,5.194387,1.095702,13.583229,1.706983,1.709152,4.450954,72.023656,0.496698
min,16.000000,5.000000,12.000000,9.000000,14.000000,7.000000,9.000000,1.000000,9.000000,13.000000,...,7.000000,15.000000,5.400000,2.100000,0.000000,1.000000,0.000000,1.000000,-999.000000,0.000000
25%,17.000000,51.000000,54.000000,55.000000,57.000000,39.000000,49.000000,10.000000,36.000000,45.000000,...,38.000000,56.000000,21.100000,5.100000,0.000000,5.600000,2.000000,2.000000,0.000000,0.000000
50%,20.000000,61.000000,64.000000,65.000000,64.000000,49.000000,58.000000,11.000000,52.000000,56.000000,...,50.000000,64.000000,24.600000,5.900000,0.000000,6.800000,3.000000,6.000000,0.000000,1.000000
75%,24.000000,67.000000,72.000000,73.000000,72.000000,60.000000,65.000000,12.000000,61.000000,63.000000,...,59.000000,71.000000,27.100000,6.500000,1.000000,7.500000,5.000000,10.000000,0.000000,1.000000
max,61.000000,95.000000,96.000000,97.000000,95.000000,92.000000,92.000000,88.000000,86.000000,89.000000,...,86.000000,92.000000,35.000000,9.800000,151.000000,10.000000,9.000000,26.000000,25.000000,1.000000

In [ ]:
df.describe(include=object)

,player_id,name,gender,country,height,weight,strong_foot,dedication_level,coaching
count,13994,13994,13975,13994,13994,13577,13442,13994,13869
unique,13994,13994,2,163,31,88,4,3,4
top,PLID_4964,Keva Horan,M,England,6'0,165lbs,Right,Medium,Academy
freq,1,1,6992,1157,2251,1106,8359,9704,9390

##  missing values

In [ ]:
df.isna().sum()

player_id                      0
name                           0
age                            0
gender                        19
country                        0
height                         0
weight                       417
ball_controlling_skills      413
body_reflexes                  0
body_balance                   0
jumping_skills                24
penalties_conversion_rate     30
mental_strength               28
goalkeeping_skills             0
defending_skills               0
passing_skills                 0
dribbling_skills               0
shot_accuracy                572
body_strength_stamina          0
max_running_speed              0
strong_foot                  552
behaviour_rating             703
matches_played               666
fitness_rating               695
trophies_won                   0
dedication_level               0
coaching                     125
years_of_experience          144
no_of_disqualifications        0
selection                      0
dtype: int64

In [ ]:
df.drop(columns=['player_id', 'name'], inplace=True) ## drop player id, Feature reduction

In [ ]:
df.head()

,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,...,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,23,M,Ukraine,6'2,176lbs,77.0,58.0,47.0,59.0,41.0,...,Right,7.7,NaN,8.1,2.0,High,Talent Hunt,8.0,0.0,1
1,18,M,Russia,5'10,148lbs,54.0,69.0,70.0,62.0,53.0,...,Any,5.3,0.0,NaN,3.0,Medium,Source,3.0,0.0,0
2,16,F,Spain,6'2,172lbs,34.0,43.0,45.0,69.0,49.0,...,Left,4.7,0.0,6.6,5.0,Low,Academy,2.0,0.0,1
3,27,M,Chile,5'11,165lbs,79.0,73.0,76.0,86.0,81.0,...,Right,8.6,113.0,8.6,6.0,Medium,Academy,13.0,16.0,1
4,19,F,Argentina,5'8,158lbs,47.0,61.0,74.0,57.0,49.0,...,Right,NaN,0.0,5.7,5.0,Medium,Academy,4.0,0.0,0

In [ ]:
# Drop duplicates (if any)
df.drop_duplicates(inplace=True)

### Handling missing values

In [ ]:
# Remove "lbs" and convert to float in the weight column

df['weight'] = df['weight'].str.replace('lbs', '').astype(float)

In [ ]:
mean_weight = df['weight'].mean()

# Fill missing values with the chosen imputation value
df['weight'].fillna(mean_weight, inplace=True)

In [ ]:
## Mean imputation for numeric columns

numeric_columns = ['ball_controlling_skills', 'jumping_skills', 'penalties_conversion_rate',
                   'mental_strength', 'shot_accuracy', 'matches_played', 'years_of_experience']

for column in numeric_columns:
    df[column].fillna(df[column].mean(), inplace=True)

In [ ]:
## Median imputation for the rating columns

rating_columns = ['fitness_rating','behaviour_rating']
for column in rating_columns:
    df[column].fillna(df[column].median(), inplace=True)

In [ ]:
## Use mode imputation for categorical columns here

coaching_mode = df['coaching'].mode()[0]
strong_foot_mode = df['strong_foot'].mode()[0]
gender_mode = df['gender'].mode()[0]

df['coaching'].fillna(coaching_mode, inplace=True)
df['strong_foot'].fillna(strong_foot_mode, inplace=True)
df['gender'].fillna(gender_mode, inplace=True)

In [ ]:
df.isna().sum() ## Checking whether there is missing values

age                          0
gender                       0
country                      0
height                       0
weight                       0
ball_controlling_skills      0
body_reflexes                0
body_balance                 0
jumping_skills               0
penalties_conversion_rate    0
mental_strength              0
goalkeeping_skills           0
defending_skills             0
passing_skills               0
dribbling_skills             0
shot_accuracy                0
body_strength_stamina        0
max_running_speed            0
strong_foot                  0
behaviour_rating             0
matches_played               0
fitness_rating               0
trophies_won                 0
dedication_level             0
coaching                     0
years_of_experience          0
no_of_disqualifications      0
selection                    0
dtype: int64

## Data encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# List of columns to be label encoded
columns_to_encode = ['gender', 'height', 'weight', 'strong_foot', 'dedication_level', 'coaching', 'country']

# Apply label encoding to each column
for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])

In [ ]:
df.head()

,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,...,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,23,1,153,18,48,77.0,58.0,47.0,59.0,41.0,...,3,7.7,3.908463,8.1,2.0,0,2,8.0,0.0,1
1,18,1,124,5,24,54.0,69.0,70.0,62.0,53.0,...,0,5.3,0.000000,6.8,3.0,2,1,3.0,0.0,0
2,16,0,135,18,45,34.0,43.0,45.0,69.0,49.0,...,1,4.7,0.000000,6.6,5.0,1,0,2.0,0.0,1
3,27,1,28,6,38,79.0,73.0,76.0,86.0,81.0,...,3,8.6,113.000000,8.6,6.0,2,0,13.0,16.0,1
4,19,0,5,13,32,47.0,61.0,74.0,57.0,49.0,...,3,5.9,0.000000,5.7,5.0,2,0,4.0,0.0,0

In [ ]:
## Separate features (X) and target (y)

X = df.drop("selection", axis=1)
y = df["selection"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
## Split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
## Initialize the StandardScaler and fit it on the training data, then transform both training and testing data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Model (Train and evaluate)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train_scaled, y_train)

In [ ]:
y_pred_rf = rf_model.predict(X_test_scaled)

In [ ]:
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print("Random Forest Accuracy:", accuracy_rf)

class_report_rf = classification_report(y_test, y_pred_rf)
print("Random Forest Classification Report:\n", class_report_rf)

Random Forest Accuracy: 0.8538763844230082
Random Forest Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.82      0.84      1286
           1       0.85      0.88      0.87      1513

    accuracy                           0.85      2799
   macro avg       0.85      0.85      0.85      2799
weighted avg       0.85      0.85      0.85      2799